@font-face {
    font-family: 'iconfont';
    /* project id 1319941 */
    src: url('//at.alicdn.com/t/font_1319941_qqevwnj919g.eot');
    src: url('//at.alicdn.com/t/font_1319941_qqevwnj919g.eot?#iefix') format('embedded-opentype'),
        url('//at.alicdn.com/t/font_1319941_qqevwnj919g.woff2') format('woff2'),
        url('//at.alicdn.com/t/font_1319941_qqevwnj919g.woff') format('woff'),
        url('//at.alicdn.com/t/font_1319941_qqevwnj919g.ttf') format('truetype'),
        url('//at.alicdn.com/t/font_1319941_qqevwnj919g.svg#iconfont') format('svg');
}

[class^="el-icon-my"],
[class*=" el-icon-my"] {
    font-family: "iconfont" !important;
    /* 以下内容参照第三方图标库本身的规则 */
    font-size: 18px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



.el-icon-my-91:before {
    content: "\e675";
}

.el-icon-my-all:before {
    content: "\e696";
}

.el-icon-my-category:before {
    content: "\e699";
}

.el-icon-my-comments:before {
    content: "\e69b";
}

.el-icon-my-email:before {
    content: "\e69f";
}

.el-icon-my-qunzu:before {
    content: "\e628";
}

.el-icon-my-shouye:before {
    content: "\e62d";
}

.el-icon-my-sousuo:before {
    content: "\e62f";
}

.el-icon-my-tianjiayonghu:before {
    content: "\e630";
}

.el-icon-my-tongxunlu:before {
    content: "\e631";
}

.el-icon-my-xinfeng:before {
    content: "\e640";
}

.el-icon-my-fenleiorguangchangorqita:before {
    content: "\e64f";
}

.el-icon-my-shoujichongzhi:before {
    content: "\e6c8";
}

.el-icon-my-security:before {
    content: "\e71c";
}

.el-icon-my-erweima:before {
    content: "\e6c0";
}

.el-icon-my-gouwuche:before {
    content: "\e61b";
}

.el-icon-my-commenting:before {
    content: "\e668";
}

.el-icon-my-shuipingfanzhuan:before {
    content: "\e662";
}

.el-icon-my-bianji:before {
    content: "\e63c";
}

.el-icon-my-lianxiwomen:before {
    content: "\e61d";
}

.el-icon-my--camera:before {
    content: "\e65d";
}

.el-icon-my-money:before {
    content: "\e607";
}

.el-icon-my-reset:before {
    content: "\e739";
}

.el-icon-my-icon_service:before {
    content: "\eb9d";
}

.el-icon-my-rotate-left:before {
    content: "\e901";
}

.el-icon-my-rotate-right:before {
    content: "\e902";
}

.el-icon-my-camera:before {
    content: "\e698";
}

.el-icon-my-anquan:before {
    content: "\e872";
}

.el-icon-my-baocun:before {
    content: "\e632";
}

.el-icon-my-Excel:before {
    content: "\e633";
}

.el-icon-my-mla:before {
    content: "\e622";
}
